body{
    background-image: url('../Images/bbg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#4a7a44;
    font:georgia;
    }
      
li {
    float: left;
    }
      
    li a {
    display: block;
    color: white;
    text-align: center;
     padding: 14px 16px;
    text-decoration: none;
    font-size:25px;
    }

li a:link {
    color: #ede7bb;                  
}


li a:visited {
    color: #ccc7a1;                    
}


li a:hover {
    background-color:#7ea87f;   
    color:white;                
}

li a:active {
    background-color: #FFFAFA;   
    color: white;                
}

body{
    text-align: center;
    color:whitesmoke;
}

p{
    background-color: #dbc184;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}